@{
    Page.id = "HomeAbout";
}

<div class="container">
    <div class="row well">
        <div class="panel">
            <img class="pic img-circle" src="/Images/me.jpg" alt="...">
            <div class="name"><small>José Andrés Obando Díaz</small></div>
        </div>
        <br><br><br>
        <div id="articulo" class="col-md-12">
            <article>
                Nací en San José - Costa Rica, el 23 de marzo de 1991. 
            </article>
            <br />
            <article>
                Estudié en el Liceo San Carlos y 
                actualmente soy estudiante de Ingeniería en Software en la Universidad Técnica Nacional.
            </article>
            <br />
            <article>
                Llegué a esta última persiguiendo mi sueño de ser un excelente profesional. 
                Antes de ingresar a la universidad empecé pensando en especializarme en 
                programación, después pensé en base de datos, pero me di cuenta que, apesar de particularmente gustarme, 
                quería tener depronto un campo más activo y abierto; así fue como llegué a pensar sobre desarrollo y testing, 
                ya que mirando en qué consiste la carrera noté que conjuga todos mis gustos y que al tiempo 
                me da la oportunidad de desarrollarme personalmente. Escogí especialmente el testing o QA por esta razón, 
                ya que envolvía una serie de estudio que tenía un enfoque muy cercano al mio, a lo que quiero llegar 
                a ser.
            </article>
        </div>
    </div>
</div>
<div id="push">
</div>
