@{
    Page.id = "HomeAbout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/Images/Fondo.jpg" alt="First slide">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="tab-pane active" id="about">
                                        <img id="Perfil" src="/Images/me.jpg" width="120" height="160" border="0" class="img-circle"/><br /><br />
                                        <h2 id="h3" class="media-heading">José Andrés Obando Díaz</h2>
                                        <small id="small"> <img src="/Images/bandera.jpg" width="11" height="11" border="0">  CRC</small><br /><br />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <article>
                                        Nací en San José - Costa Rica, el 23 de marzo de 1991. Estudié en el Liceo San Carlos y actualmente soy estudiante de Ingeniería en Software en la Universidad Técnica Nacional.
                                    </article>
                                    <article>
                                        Llegué a esta última persiguiendo mi sueño de ser una excelente escritora activa y crítica de Colombia. Antes de ingresar a la universidad empecé pensando en especializarme en Literatura, después pensé en História, pero me di cuenta que, apesar de particularmente gustarme, quería tener depronto un campo más activo y abierto; así fue como llegué al Periodísmo, ya que mirando en qué consiste la carrera noté que conjuga todos mis gustos y que al tiempo me da la oportunidad de expresarme personalmente. Escogí especialmente al Externado por esta razón, ya que envolvía una serie de estudio que tenía un enfoque muy cercano al mio, a lo que quiero llegar a ser.
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Images/Fondo.jpg" alt="Second slide">
                        <div class="carousel-caption">
                            <h1>
                                Second slide</h1>
                            <p>
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
                        href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
                        </span></a>
            </div>
        </div>
    </div>
</div>
<div id="push">
</div>
