@{
    Page.id = "HomeAbout";
}

<div class="container">
    <div class="row well">
        <div class="panel">
            <img class="pic img-circle" src="//scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/305396_4274696659412_1768039757_n.jpg" alt="...">
            <div class="name"><small>José Andrés Obando Díaz</small>
            </div>
        </div>
        <br>
        <br><br>
        <div id="articulo" class="col-md-12">
            <article>
                Nací en San José - <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Costa_Rica.svg/1000px-Flag_of_Costa_Rica.svg.png" width="11" height="11" border="0"> Costa Rica, el 23 de marzo de 1991. 
            </article>
            <br />
            <article>
                Estudié en el Liceo San Carlos y 
                actualmente soy estudiante de Ingeniería en Software en la Universidad Técnica Nacional.
            </article>
            <br />
            <article>
                Llegué a esta última persiguiendo mi sueño de ser un excelente profesional. 
                Antes de ingresar a la universidad empecé pensando en especializarme en 
                programación, después pensé en base de datos, pero me di cuenta que, apesar de particularmente gustarme, 
                quería tener depronto un campo más activo y abierto; así fue como llegué a pensar sobre desarrollo y testing, 
                ya que mirando en qué consiste la carrera noté que conjuga todos mis gustos y que al tiempo 
                me da la oportunidad de desarrollarme personalmente. Escogí especialmente el testing o QA por esta razón, 
                ya que envolvía una serie de estudio que tenía un enfoque muy cercano al mio, a lo que quiero llegar 
                a ser.
            </article>
        </div>
    </div>
    @*div de info*@
    <div class="row well">
         <div id="articulo2" class="col-md-12">
            <div class="panel">
                <br />
                <h3 id="h3">
                    José Andrés - Blog
                </h3>
                <br />
            </div>
            <br />
            <article>
                Llegué a esta última persiguiendo mi sueño de ser un excelente profesional. 
                Antes de ingresar a la universidad empecé pensando en especializarme en 
                programación, después pensé en base de datos, pero me di cuenta que, apesar de particularmente gustarme, 
                quería tener depronto un campo más activo y abierto; así fue como llegué a pensar sobre desarrollo y testing, 
                ya que mirando en qué consiste la carrera noté que conjuga todos mis gustos y que al tiempo 
                me da la oportunidad de desarrollarme personalmente. Escogí especialmente el testing o QA por esta razón, 
                ya que envolvía una serie de estudio que tenía un enfoque muy cercano al mio, a lo que quiero llegar 
                a ser.
            </article>
        </div>
    </div>
</div>
<div id="push">
</div>
