@{
    Page.Id = "HomeIndex";
}
<div id="comments" class="container">
	 <div id="blog" class="row"> 
         <div class="panel">
            <br />
            <h1>
                Entradas
            </h1>
             <br />
        </div>
         <hr />
        @for (int i = 0; i < 10; i++)
        {
            <div class="col-md-12 blogShort">
                <br />
                <div class="panel">
                    <br />
                    <h1>
                        Title @(i + 1)
                    </h1>
                    <br />
                </div>
                <br />
                <article id="articulo2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                    ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                    five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                    of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.    
                    </article> <br />
                <small class="pull-right"> <p>Posteado: <em> 11 hours ago via Twitter </em></p></small>
                <br /> <br />
                <div class="timeline-footer">
                    <a class="btn btn-blog pull-right"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    <a class="btn btn-blog pull-right"><i class="glyphicon glyphicon-comment"></i></a>
                    <ul class="nav nav-pills" style="margin-bottom:2%">
                        <li data-slide-to="0" class="active">@Html.ActionLink("Continuar Leyendo", "Comment", new {controller="Home", parametro = i })</li> 
                    </ul>
                </div>
            </div>
        }
    </div>
</div>